# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados
MONGODB_URI=mongodb://localhost:27017/blogging-api

# Configurações de Segurança
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100 